<div class="footer">
    <div class="footer__section">
        <i class="fab fa-instagram"></i>
        <ul class="footer__socials">

            <li class="footer__socials-item"><a href="https://www.instagram.com/g.m.i.manchester/" class="footer__link">Gmim</a></li><span
                class="seperator">|</span>
            <li class="footer__socials-item"><a href="https://www.instagram.com/eryntettcomedy/" class="footer__link">Eryn</a></li><span
                class="seperator">|</span>
            <li class="footer__socials-item"><a href="https://www.instagram.com/lightscameronaction/" class="footer__link">cam</a>
            <!-- <li class="footer__socials-item"><a href="" class="footer__link"></a></li> -->
        </ul>
        <i class="fab fa-twitter"></i>
        <ul class="footer__socials">

            <li class="footer__socials-item"><a href="https://twitter.com/GMIManchester" class="footer__link">Gmim</a></li><span
                class="seperator">|</span>
            <li class="footer__socials-item"><a href="https://twitter.com/eryntettcomedy" class="footer__link">Eryn</a></li><span
                class="seperator">|</span>
            <li class="footer__socials-item"><a href="https://twitter.com/icameronjones" class="footer__link">cam</a>
            <!-- <li class="footer__socials-item"><a href="" class="footer__link"></a></li> -->
        </ul>
    </div>
    <div class="footer__section">&#169; <span class="copyright">gmim 2023</span> for more information please visit one of upcoming meetings</div>
   
</div>