
<nav class="nav">
    <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/testimonials" class="nav-link">Testimonials</a>
        <a href="/destroy" class="nav-link">What can we do?</a>
        <a href="https://linktr.ee/g.m.i.m" class="nav-link">Shows to avoid!</a>
    </div>

    <div class="nav-admin">
        <a href="https://linktr.ee/g.m.i.m" class="nav-link">Donate to the Cause</a>
        <a href="/report" class="nav-link">Report to Government body</a>
    </div>
</nav>
