<% layout('./layouts/boilerplate') -%>
    <section class="destroy">
        <h1 class="heading-primary">We <b class="must">MUST</b> destroy them </h1>

        <img src="/img/nomim.png" alt="" class="destroy__logo">

        <div class="destroy__text">
            <p>
                You know what they say about the GMIM cult, right? They've got this worldwide reach, but their leader is
                as
                blurry as a bad passport photo! And you won't believe how they control their members. It's all about
                their
                sneaky fake currency, the GMIM. They persuade their followers to change their hard-earned pounds into
                these
                worthless GMIM coins. Talk about a financial pyramid scheme gone wrong!
            </p>
            <p>
                But fear not, my friend, I've come up with a master plan to "destroy" the GMIM once and for all. We'll
                unleash the ultimate weapon: shouty protests! We'll organize a global noMim festival right in the heart
                of
                Manchester, their so-called headquarters. Top protesters from all around the world will
                hold signs so
                powerful that even the most brainwashed cult members will start doubting their choices.
            </p>
            <p>
                As the slogans echoes through the streets, the GMIM cult will be left in fits of uncontrollable
                confusion,
                rolling on the floor, and forgetting all about their devious plans. Their power will crumble, and their
                influence will fade away into history. So, let's gather our best sign holders and
                give the GMIM
                cult a dose of short memorable chants they'll never recover from!
            </p>

        </div>
    </section>