<% layout('./layouts/boilerplate') -%>

    <div class="scare">
        <div class="overlay"></div>
        <h2 class="scare-1 scare-text">"A dark conspiracy"</h2>
        <h2 class="scare-2 scare-text">"My dog hates me now"</h2>
        <h2 class="scare-3 scare-text">"I spent all my money on GMIM now i have no money"</h2>
        <h2 class="scare-4 scare-text">"People hate me now"</h2>
    </div>

    <p class="home-about">
        Gmim is a shady organization that operates under the guise of a comedy duo. They attend comedy shows and recruit
        people, promising them a chance to be a part of sick cult. However, behind the facade of humor, Gmim is really
        selling <b>bad</b> crypto and offering life-<b>destroying </b>advice to their unsuspecting victims. They lure people in with
        the promise of quick money and easy success, but the reality is far from what they advertise.
<br><br>
        Those who fall prey to these so-called <b>comedians</b> often find themselves in a cult-like situation, with the organization controlling
        every aspect of their lives. Gmim has been known to pressure people into giving up their jobs, cutting off ties
        with family and friends, and even giving them harmful advice on how to live their lives. They prey on vulnerable
        individuals who are looking for a way out of their current situation, and once they are in, it can be nearly
        impossible to leave. It's a warning to those attending comedy shows to be wary of any offers that seem too good
        to be true and to stay away from organizations like Gmim that are not what they seem.
<br><br>
        In conclusion, Gmim is a shady organization that preys on vulnerable individuals, selling them bad crypto and
        giving life-destroying advice under the guise of a comedy duo. It's a dangerous cult that operates under the
        radar, recruiting unsuspecting victims at comedy shows. Those who fall prey to Gmim often find themselves
        trapped in a situation that is difficult to escape from, and it's important to be aware of these types of
        organizations to protect oneself from falling victim to their schemes.
    </p>