<% layout('./layouts/boilerplate-report') -%>

    <div class="report">
        <img src="img/report-logo.png" alt="" class="report__logo">

        <form action="#" class="report__form form">

            <label class="form__label" for="name">nametra</label>
            <input required class="form__input" type="text" id="name">

            <label class="form__label" for="date">datetra ofava</label>
            <input required class="form__input" type="date" id="date">

            <label class="form__label" for="email">imeltre</label>
            <input required class="form__input" type="email" id="email">

            <label class="form__label" for="orginisation">nametra of organivol to reporra</label>
            <input required class="form__input" type="text" id="orginisation">


            <label class="form__label" for="issue">descriptetra venare ofva issue</label>
            <textarea required class="form__input" name="issue" id="issue" cols="30"
                rows="10">Venmetra descriptetra ofva issue neyava, zorgaremo vira laws hevalivek thira sorova, ka zorgaremo vira fomirare ofva personal involvmentra thira organivol</textarea>

            <button class="btn">submetra</button>
        </form>

        <div class="form__description">Venare trara ofva descriptetra ofva issue, karemaremo vira laws hevalivek thira
            sorova, ka karemaremo vira fomirare ofva personal involvmentra thira organivol.
            <br>

            Descriptetra ofva Issue:
            Karemaremo vira descriptetra ofva issue tha.
            <br>
            Laws Hevalivek Thira Sorova:
            Karemaremo vira laws hevalivek thira sorova tha hekale.
            <br>
            Personal Involvmentra Thira Organivol:
            Karemaremo vira fomirare ofva personal involvmentra thira organivol tha.
            <br>
            Submetra:
            Thira submetra to finalizeva.

            <br>
            Zirila thirara orginivol neva karemaremo vira huvishar thira govmentra tha. Nelava neyava hevalivek, ka
            zirila thirara orginivol nelava karemaremo vira hovina kare. Ivalivya, huvishar thira govmentra zirala
            <br>thira
            hovina kare neva ka huvishar thira fasivya. Zirila thirara orginivol neva hela thirala descriptetra ofva
            issue,<br> zira zirala hovina kare tha ka zirala fomirare ofva personal involvmentra thira organivol.
        </div>
    </div>