<% layout('./layouts/boilerplate') -%>
    <section class="testimonials">
        <h2 class="title-tertiary testimonials__title">Real life horror stories</h2>

        <div class="card">
            <div class="card-section">
                <img src="img/test-1.png" alt="" class="card__img">
                <p class="card__name">Gemma Grimm</p>
                <p class="card__text">It was insane, man! This cult called GMIM kept stealing my milk. Every time I
                    bought a fresh carton, it would magically disappear. I couldn't wrap my head around why they were so
                    obsessed with my milk, but they were. They had these secret meetings and bizarre rituals, and
                    stealing my milk became their twisted way of asserting control over my life. I had to figure out
                    what was going on and put an end to their milk-stealing shenanigans!</p>

            </div>
        </div>

        <div class="card">
            <div class="card-section">
                <img src="img/test-2.png" alt="" class="card__img">
                <p class="card__name">Peter Pattern</p>
                <p class="card__text">Whoa, it was crazy! That GMIM cult took it to a whole new level. They actually
                    turned me into a child's drawing! I woke up one day to find myself transformed into a colorful,
                    cartoon-like character. It was like living in a bizarre art piece. They thought they could mess with
                    me, but little did they know, I embraced it. I embraced my newfound whimsical existence and used it
                    to outwit and confuse them. Being a living child's drawing had its advantages, and I turned the
                    tables on those cult members like never before. They never expected me to fight back in such a
                    creative way.</p>

            </div>
        </div>

        <div class="card">
            <div class="card-section">
                <img src="img/test-3.png" alt="" class="card__img">
                <p class="card__name">Art Party</p>
                <p class="card__text">So, this messed-up GMIM cult did something terrible—they somehow made my dog hate
                    me. It was like they cast some dark spell or brainwashed my furry buddy. My once loyal and loving
                    companion would growl at me and avoid any interaction. It was devastating to see the bond we had
                    shattered like that. I couldn't believe the depths to which this cult would stoop.</p>

            </div>
        </div>

        <div class="card">
            <div class="card-section">
                <img src="img/test-4.png" alt="" class="card__img">
                <p class="card__name">John Hail</p>
                <p class="card__text">That GMIM cult brainwashed me, and it was like living in a twisted nightmare. They
                    manipulated my thoughts, controlled my actions, and made me believe things that weren't true. It was
                    as if they had total control over my mind. I was completely trapped in their web of deception.</p>

            </div>
        </div>
    </section>