/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #e9ecef;
}

body {
  background-color: black;
  box-sizing: border-box;
}

.boiler-report {
  background-color: #fbfbfb;
}

@media (max-width: 800px) {
  html {
    font-size: 52.3%;
  }
}
.scare {
  font-size: 1.8rem;
  text-shadow: 0 8px 5px rgba(0, 128, 0, 0.915);
}

html {
  font-family: "Open Sans", sans-serif;
}

.scare {
  position: relative;
  width: 75rem;
  height: 40rem;
  background-image: url("/img/logo-gmim.jpg");
  background-repeat: no-repeat;
  margin: 2rem auto;
  letter-spacing: 1.5px;
}
.scare-text {
  position: absolute;
  margin: 1rem;
}
.scare-1 {
  top: 1rem;
  left: 1rem;
}
.scare-2 {
  top: 10rem;
  left: 30rem;
}
.scare-3 {
  top: 20rem;
  left: 5rem;
}
.scare-4 {
  bottom: 2rem;
  left: 20rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.1215686275);
}

@media (max-width: 650px) {
  .scare {
    width: 50rem;
    height: 30rem;
    margin: 1.5rem auto;
    font-size: 1.2rem;
  }
  .scare-2 {
    top: 7rem;
    left: 20rem;
  }
  .scare-3 {
    top: 15rem;
    left: 3rem;
  }
  .scare-4 {
    bottom: 1rem;
    left: 15rem;
  }
}
@media (max-width: 450px) {
  .scare {
    width: 40rem;
    height: 25rem;
    margin: 1rem auto;
    font-size: 1rem;
  }
  .scare-2 {
    top: 5rem;
    left: 15rem;
  }
  .scare-3 {
    top: 10rem;
    left: 2rem;
  }
  .scare-4 {
    bottom: 1rem;
    left: 10rem;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 2rem;
}
.nav-link:link, .nav-link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  margin: 0 1rem;
}
@media (max-width: 850px) {
  .nav-link:link, .nav-link:visited {
    font-size: 1.2rem;
  }
}
@media (max-width: 650px) {
  .nav-link:link, .nav-link:visited {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.card {
  display: flex;
  width: 90%;
  min-height: 30rem;
  justify-content: space-around;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}
.card-section {
  width: 45%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 8px 5px rgba(0, 128, 0, 0.915);
  background-color: rgba(255, 0, 0, 0.1215686275);
}
.card__img {
  height: 10rem;
  border-radius: 100%;
  margin-bottom: 1rem;
}
.card__name {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0 8px 5px rgba(0, 128, 0, 0.915);
  margin-bottom: 1rem;
}
.card__text {
  font-size: 1.2rem;
}

@media (max-width: 900px) {
  .card-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .card__img {
    margin-right: 1rem;
  }
  .card__name {
    text-decoration: underline;
    margin-right: 1rem;
  }
  .card__text {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .card__text {
    font-size: 1.2rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__label {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.form__input {
  width: 40rem;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.btn {
  text-transform: uppercase;
  padding: 1rem;
  width: 15rem;
}

.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.videos__video {
  display: inline-block !important;
  margin: 2rem auto !important;
  max-width: 64rem;
}
.videos__video-youtube {
  height: 30rem;
  width: 64rem;
}

#player-container {
  width: 100%;
  align-self: center;
  max-width: 64rem !important;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;
  color: #495057;
  padding: 1rem 5rem;
}
.footer__section {
  width: 100%;
  display: flex;
}
.footer__socials {
  display: flex;
  width: 25%;
  margin-bottom: 1rem;
}
.footer__socials-item {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: inherit;
}
.footer ion-icon {
  align-self: center;
  fill: #495057;
  width: 3rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.home-about {
  font-size: 1.4rem;
  margin: 4rem;
  text-shadow: 0 8px 5px rgba(0, 128, 0, 0.915);
}

.testimonials {
  padding: 2rem;
  text-align: center;
}
.testimonials__title {
  font-size: 2.4rem;
  text-shadow: 0 8px 5px rgba(0, 128, 0, 0.915);
  letter-spacing: 2px;
  margin-bottom: 4rem;
}

.report {
  color: black;
  text-align: center;
}
.report__logo {
  height: 25rem;
}

.form__description {
  font-size: 1.2rem;
  padding: 2rem;
  margin: 2rem;
}

.destroy {
  text-align: center;
}
.destroy__text {
  padding: 0 10rem;
  font-size: 1.5rem;
}
.destroy__logo {
  display: inline-block;
  width: 30rem;
  margin: 0 auto;
  box-shadow: 0 0px 45px rgba(0, 128, 0, 0.915);
  margin-bottom: 5rem;
}
.destroy p {
  margin-bottom: 1rem;
}

.heading-primary {
  font-size: 3rem;
  margin: 2rem auto;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}
.heading-primary .must {
  color: red;
  font-size: 3.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */