/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.boiler-report{
    background-color: #fbfbfb;
}