/* universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: $color-text-light;
}

body {
    background-color: black;
    box-sizing: border-box;
}

.boiler-report {
    background-color: #fbfbfb;
}

@media(max-width:800px) {
    html {
        font-size: 52.3%;
    }
}